body {
 font-family: fantasy;
 background-color: rgba(red, green, blue, alpha);
 font-size: 150%;
}
.header {
    font-family: cursive;
    padding-top: 1%;
    height: 90px;
    padding-left: 38%;
    font-size: 100px;
    color:lightcoral ;
    text-shadow: 6px 6px 5px #000000;
    
   
}
.header img{
    border-image: auto;
}

.header p{
    padding-left: 35%;
   padding-top: 0px;
   margin-top: 2px;
    color: mediumblue;
    font-size: 0.28em;
    text-shadow: 2px 2px;
   
}
.main {
    padding-right: 20%;
    padding: 100px 150px;
   
   
}
img{
    width: 50%;
    padding-top: 5%;
}
button{
  margin-top: 20px;
   height: 40px;
   background-color: gray;
   border: 1px solid black;
   font-size: 20px;
   color: #fff;
   width: 20%;
   outline: none;
}
button:hover{
    background-color: darkgray;
}
.footer{
    background-color:lightcoral;
}

.footer-list li{
    color:black;
    padding-bottom: 20px;
    font-family: fantasy;
    
}
.footer-info li{
float: right;
font-family: fantasy;
margin-left:20px;
margin-right: 20px;
text-align: center;
}
contents h3{
    color:green;
   
}
