@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 *{
	margin: 0;
	padding: 0;
	font-family: serif;
}

body{
  /* animation: transitionIn 0.75s ease-in 1; */
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url(images/MainPage_1.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-btn{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.main-btn .btn{
	margin: 10px;
	height: 60px !important;
	width:300px !important;
	background-color:transparent !important;
  box-shadow: 0px 0px 12px aqua;
	 border:5px solid aqua;
	 border-radius: 10px !important;
	 transition: 0.6s ease;
   color:#fff;
   text-shadow:0 0 15px #ff005b;
   /* text-shadow:0 0 10px aqua; */
   font-weight: bolder;
   font-family: 'Trade Winds', cursive;
   font-size: 20px;
}
.main-btn .btn:hover{
	border-radius: 50px !important;
	background: aqua !important;
	outline: none !important;
	border: none !important;
	color:#000 !important;
}

.main-btn .btn:focus{
	box-shadow: none !important;
	border: 1px solid #fff !important;
}
.timbre{
	color:#fff;

  font-family: 'Fontdiner Swanky', cursive;
  /* font-family: 'Mogra', cursive; */
  /* font-family: 'Rye', cursive; */
  /* font-family: 'Shojumaru', cursive; */
  /* font-family: 'Shojumaru', cursive; */
  /* font-family: 'Shrikhand', cursive; */
  /* font-family: 'Sonsie One', cursive; */
   /* font-family: 'Sriracha', cursive; */

	text-align: center;
  padding-bottom: 15px;
	font-size: 3em;
  color:#fff;
  text-shadow:0 0 15px #ff005b;

}

.main-btn a{
	color:#fff;
}
.main-btn a:hover{
	text-decoration: none;
	color:#000;
}
.main-btn .btn:hover a{
	color:#000;
}


#our_team{
	padding: 50px;
}

.bg{
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background-position: center;
  background-size: cover;
  width: 100% !important;
}
#our_projects{
	padding: 25px;
	background:#efefef;
}
#about_us{
  text-align:center;
  padding-top:50px;
  padding-bottom: 30px;
  font-size: 22px;
  /* font-family: 'Rye', cursive; */
}
#about_us h1{
  font-family: 'Rye', cursive;
}
#faq{
  text-align: center;
	padding-top: 50px;
  font-size:22px;
}

#contact_us{
	text-align: center;
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-color: white;
	padding-top: 1%;
	font-size: 2em;
}

.navbar{
  background-color:#000;
	font-size:16px !important;
	font-weight: bold;
	z-index: 2 !important;
}
.navbar-brand img{
  height:70px;
  border-radius: 50%;
  float:left !important;
}
.nav-bar .fa-bars{
  font-size: 30px;
  color:aqua;
}
.navbar-toggler{
  outline: none !important;
}
.navbar-nav{
  float:right;
  text-align: right;
}
.nav-link{
  font-family: 'Sriracha', cursive;
  color:aqua;
  font-size:15px;
}
.nav-link:hover{
	border-radius: 50px !important;
  background-color:aqua;
  color:#000;
  text-align: center !important;
  transition: 1s;
  padding:5px;
}
.nav-item{
	 margin-right: 10px !important;
}
.icons{
  position: fixed;
  top:40%;
  justify-content: center;
  left:0%;
  width:250px;
  display:flex;
  flex-direction: column;
}
.icons a{
  text-decoration: none;
  text-transform: uppercase;
  padding:10px;
  font-size: 22px;
  font-family: sans-serif;
  margin:2px;
  text-align: right;
  border:2px solid black;
  color:#000;
  background-color: #f5e5e5;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  transform: translate(-185px,0px);
  transition:all 1s;
}
.icons a:hover{
  transform: translate(-30px,0px);
}
.icons a i{
margin-left: 25px;
/*background-color: white;*/
height:44px;
width:40px;
color:grey;
text-align: center;
line-height: 40px;
border-radius: 50%;
transition:all 1s;
}
.icons a:hover i{
  transform: rotate(360deg);
}
.icons a i.fa-facebook-f{
  background-color:  #3b5998;
  color:white;
}
.icons a i.fa-instagram{
  background-color:  #fb3958 ;
  color:white;
}
.icons a i.fa-twitter{
  background-color:  #1da1f2;
  color:white;
}
.footer{
  background-color: #222222;
  height: 90px;

}
.footer h5{
  text-align: center;
  color:aqua;
  text-shadow: 0 0 10px aqua;
  padding-top: 35px;
  font-family: 'Sriracha', cursive;
}
.icons1{
  visibility: hidden;
}
@media (max-width: 575.98px) {
  .icons{
    visibility: hidden;
  }
  .icons1{
    visibility: visible !important;
    text-align: center !important;
    padding-bottom: 30px !important;
    font-size: 24px !important;
  }
  .icons1 .fa{
    margin-right: 30px;
  }
  .icons1 a i{
    height:44px;
    width:40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 1s;
  }

  .icons1 a i.fa-facebook-f{
    background-color:  #3b5998;
    color:white;
  }
  .icons1 a i.fa-instagram{
    background-color:  #fb3958 ;
    color:white;
  }
  .icons1 a i.fa-twitter{
    background-color:  #1da1f2;
    color:white;
  }
  .icons1 i:hover{
    transform: rotate(360deg) !important;
  }
  .carousel-item{
    height:800px !important;
  }
  .content1 .play{
    width: 300px !important;
    height: 600px !important;
  }
  .content .play{
    width: 300px !important;
  }
  .carousel-control-prev-icon{
    position: absolute !important;
    left:0 !important;
  }
  .carousel-control-next-icon{
    position: absolute;
    right:0 !important;
  }
	#aero h1{
    letter-spacing: 0 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item{
    height:800px !important;
  }
  .content1 .play{
    width: 400px !important;
    height: 600px !important;
  }
  .content .play{
    width: 450px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-item{
    height:800px !important;
  }
  .content1 .play{
    width: 500px !important;
    height: 600px !important;
  }
  .content .play{
    width: 500px !important;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-item{
    height:430px !important;
  }
  .content1 .play{
    width: 600px !important;
    height: 250px !important;
  }
  .content .play{
    width: 400px !important;
  }
 }
@media (min-width:1200px) {
  .timbre{
    font-size:5em;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bolder;
  }
  .main-btn{
    margin:  25px;
  }
  .main-btn .btn{
    font-size:30px;
    width: 480px !important;
  }
  .nav-link{
    font-size: 20px !important;
  }
}
#aero{
  padding: 50px;
  text-align: center;
  background-color: #000;

}
#aero h1{
  font-family: 'Cinzel Decorative', cursive;
  color:#fff;
  text-shadow:0 0 15px #ff005b;
  font-weight: bold;
  letter-spacing: 10px;
}
.carousel-control-next-icon{
  position: absolute;
  /* background-color: rgba(0,0,0,0.8);
  width: 20px; */
  /* height: 20px; */
  right:10px;
  /* border-radius: 50%; */
}
.carousel-control-prev-icon{
  position: absolute;
  /* background-color: rgba(0,0,0,0.8);
  width: 20px; */
  /* height: 20px; */
  left:10px;
  /* border-radius: 50%; */
}
.carousel-item{
  height: 400px;
}
.content1{
  padding-top: 50px;
}
.content1 p{
  color: aqua;
  font-family: 'Rye', cursive;
  font-size: 20px;
}
.content1 .play{
  height: 250px;
  width: 600px;
  background-image: url(aero/aero.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: #fff;
}
.content{
  padding-top: 50px;
}
.content p{
  color:aqua;
  font-family: 'Rye', cursive;
  font-size: 20px;
}
.content .play{
  height: 250px;
  width:500px;
  background-image: url(aero/aero.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border:#fff;
}
.amey{
  color:#fff;
  font-size:20px;
  margin-top: 20px;
  font-family: 'Sriracha', cursive;
}
