*{
  margin:0;
  padding: 0;
}
.header{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/Swaragini_MainPage.png);
  background-size: cover;
  background-position: center;
}
.navbar{
  background-color: rgba(0,0,0,0.4);
	font-size:16px !important;
	font-weight: bold;
	z-index: 0 !important;
}
.navbar-brand img{
  height:50px;
  float:left !important;
}
.nav-bar .fa-bars{
  font-size: 30px;
  color:#fff;
  padding-right:10px !important;
}
.navbar-toggler{
  outline: none !important;
}
.navbar-nav{
  float:right;
  text-align: right;
}
.nav-link{
  font-family: 'Sriracha', cursive;
  color:#fff;
  font-size:15px;
  padding-right: 10px !important;
}
.nav-link:hover{
	border-radius: 50px !important;
  background-color:#fff;
  color:#000;
  text-align: center !important;
  transition: 1s;
  padding:5px;
}
.nav-item{
	 margin-right: 10px !important;
}
.main-head{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.main-head h1{
  color:#fff;
  font-size:4em;
  letter-spacing: 12px;
  font-family: 'Fontdiner Swanky', cursive;
}
.main-head p{
  color:#fff;
  font-size: 20px;
  font-family: 'Trade Winds', cursive;
}
.info{
  background-image: url(images/b17.jpg);
  background-position: center;
  background-size: cover;
}
#video-common-blog{
  padding-top: 20px;
}
#video-common-blog h1{
  padding-bottom: 20px;
  text-align: center;
}
.reviews{
  padding-top:15px;
}
.review{
  font-size: 17px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
   padding: 10px 10px 10px 10px;
  /* padding-top: 20px; */
  border-top-right-radius: 30px;
}
.reviews span{
  color:red;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
}
.review .fa{
  color: red;
  margin-right: 5px;
  margin-left: 5px;
}
.review a{
  color: red;
  text-decoration: none;
}
.review a:hover{
  text-decoration: none;
  color: red;
}
.play{
  width: 400px;
  height: 250px;
  margin: 25px;
  border: 1px solid #000;
}
.carousel-item{
  height:300px;
}
.carousel-control-prev{
  padding: 10px !important;
}
.carousel-control-next-icon{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 20px;
  height: 20px;
  right:10px;
  border-radius: 50%;
}
.carousel-control-prev-icon{
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 20px;
  height: 20px;
  left:10px;
  border-radius: 50%;
}
.icons{
  position: fixed;
  top:40%;
  justify-content: center;
  left:0%;
  width:250px;
  display:flex;
  flex-direction: column;
}
.icons a{
  text-decoration: none;
  text-transform: uppercase;
  padding:10px;
  font-size: 22px;
  font-family: sans-serif;
  margin:2px;
  text-align: right;
  border:2px solid black;
  color:#000;
  background-color: #f5e5e5;
  font-weight: 600;
  border-radius: 0px 50px 50px 0px;
  transform: translate(-185px,0px);
  transition:all 1s;
}
.icons a:hover{
  transform: translate(-30px,0px);
}
.icons a i{
margin-left: 25px;
/*background-color: white;*/
height:44px;
width:40px;
color:grey;
text-align: center;
line-height: 40px;
border-radius: 50%;
transition:all 1s;
}
.icons a:hover i{
  transform: rotate(360deg);
}
.icons a i.fa-facebook-f{
  background-color:  #3b5998;
  color:white;
}
.icons a i.fa-instagram{
  background-color:  #fb3958 ;
  color:white;
}
.icons a i.fa-twitter{
  background-color:  #1da1f2;
  color:white;
}
.footer{
  background-color: #222222;
  height: 60px;
  font-family: 'Sriracha', cursive;
}
.footer h5{
  text-align: center;
  color:aqua;
  text-shadow: 0 0 10px aqua;
  padding-top: 25px;
}
.icons1{
  visibility: hidden;
}
#top10{
  padding:  50px;
  text-align: center;
  background: #222222;
}
#top10 .btn{
  width:1000px;
  border-radius: 50px;
  border: none;
  color: #fff !important;
  background: linear-gradient(45deg, red, blue);
  height: 70px;
  font-size: 20px;
  letter-spacing: 5px;
  outline: none !important;
}
#top10 .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.modal-header{
  background: linear-gradient(45deg, red, blue);
  color: #fff;
}
.modal-header button{
  color: #fff !important;
}
.close{
  color: #fff !important;
}
.close:focus{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-head h1{
    font-size: 35px !important;
  }
  .main-head p{
    font-size: 14px !important;
  }
  .play{
    width: 280px !important;
    height: 300px !important;
  }
  .carousel-item{
    height: 900px !important;
  }
  #top10 .btn{
    width:200px !important;
  }
  .icons{
    visibility: hidden !important;
  }
  .icons1{
    padding-top: 25px !important;
    visibility: visible !important;
    text-align: center !important;
    padding-bottom: 30px !important;
    font-size: 24px !important;
  }
  .icons1 .fa{
    margin-right: 30px;
  }
  .icons1 a i{
    height:44px;
    width:40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 1s;
  }

  .icons1 a i.fa-facebook-f{
    background-color:  #3b5998;
    color:white;
  }
  .icons1 a i.fa-instagram{
    background-color:  #fb3958 ;
    color:white;
  }
  .icons1 a i.fa-twitter{
    background-color:  #1da1f2;
    color:white;
  }
  .icons1 i:hover{
    transform: rotate(360deg) !important;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item{
    height: 770px !important;
  }
  #top10 .btn{
    width:500px !important;
  }
  .icons{
    visibility: hidden !important;
  }
  .icons1{
    padding-top: 25px !important;
    visibility: visible !important;
    text-align: center !important;
    padding-bottom: 30px !important;
    font-size: 24px !important;
  }
  .icons1 .fa{
    margin-right: 30px;
  }
  .icons1 a i{
    height:44px;
    width:40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 1s;
  }

  .icons1 a i.fa-facebook-f{
    background-color:  #3b5998;
    color:white;
  }
  .icons1 a i.fa-instagram{
    background-color:  #fb3958 ;
    color:white;
  }
  .icons1 a i.fa-twitter{
    background-color:  #1da1f2;
    color:white;
  }
  .icons1 i:hover{
    transform: rotate(360deg) !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .play{
    height: 250px !important;
  }
  .carousel-item{
    height: 620px !important;
  }
  #top10 .btn{
    width: 650px !important;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .play{
    width:400px;
  }
  .carousel-item{
    height: 400px !important;
  }
  #top10 .btn{
    width:800px !important;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-head h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 5em;
  }
}
